#id1{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.c1{
    text-align: center;
    color: yellow;
}

h1,h2{
    text-align: center;
    color: darkgreen;
}

*{
    background: #282828;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
